@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700');


#top {
  background: black;
  display: inline-block;
  height: 35px;
  width: 100%;
}
	#top:hover {
		background: linear-gradient(to bottom, #80cee4, #a1deef);
		}

#nav {
  margin: 5px 50px;
  float: right;
}
	
#nav a {
  color: white;
  display: inline-table;
  font-size: 1em;
  width: 80px;
  border-bottom: none;
  font-weight: 400;
  text-align: center;
}

#nav a:hover {
  text-decoration: underline;
  background: transparent;
  color: black;
}

#nav ul {
  list-style-type: none;
  float: right;
}

  #nav li {
  display: inline-block;
  color: grey;
  float: left;
}

ul li{
  display: block;
  float: right;
}

li a {
  color: black;
  width: 160px;
  display: table;
  text-align: left;
  font-size: 1.6em;
  font-weight: 400;
  font-family: 'Goudy Bookletter 1911', 'serif';
  border-bottom: 1px solid #e8eced;
}

li a:hover {
  color: white;
  background: linear-gradient(to bottom, #80cee4, #a1deef);
  text-decoration: none;
}

h3 {
	font-family: 'Playfair Display SC', 'serif'; 
	color: white; 
	font-weight: 400; 
	text-align: left;
	margin-left: 30px;
}

h2 {
	font-family: 'Playfair Display SC', 'serif'; 
	color: #80cee4;
	text-align: center;
	font-size: 1.5em;
}

h1 {
	font-family: 'Playfair Display SC', 'serif'; 
	color: #80cee4;
	margin-left: 80px;
	text-align: center;
}

hr {
	text-align: center;
	color: #80cee4;
	width: 40px;
}

input {
	width: 80%;
	margin-top: 5px;
	margin-right: 10px;
}

#footer p {
	color: white;
	margin-left: 35px;
	font-family: 'Playfair Display SC', 'serif'; 
}

.info {
	padding: 10px;
	font-family: 'Goudy Bookletter 1911', 'serif';
	font-size: 1.2em;
	text-align: justify;
}

.uni {
	background: url("uni.jpg");
	height: 313px;
	width: 100%;
}

.uni:hover {
	background: url("uni-color.jpg");
}

.library {
	background: url("library.jpg");
	height: 340px;
	width: 100%;
}

.library:hover {
	background: url("library-color.jpg");
}

.camera {
	background: url("camera2.jpg");
	height: 346px;
	width: 100%;
}

.camera:hover {
	background: url("camera2-color.jpg");
}

.testimonials {
	background: url("testimonials.jpg");
	height: 356px;
	width: 100%;
}

.testimonials:hover {
	background: url("testimonials-color.jpg");
}

.facilities {
	background: url("atelie-bw.jpg");
	height: 326px;
	width: 100%;
}

.facilities:hover {
	background: url("atelie.jpg");
}

.rowmargin {
  margin: 60px;
}

#footer {
  height: 300px;
  background: black;
  padding: 5px;
}

#footer:hover {
  background: linear-gradient(to bottom, #80cee4, #a1deef);
}

#footer ul li {
  float: left;
}

#footer ul li a{
  border-bottom: none;
  color: white;
  display: table;
  float: left;
  background: transparent;
  font-size: 1.3em;
}

#footer ul li a:hover {
  color: black;
}

.copyright {
	text-align: center;
	margin: 10px;
}


@media only screen and (max-width: 980px) {
    #footer {
        height: 500px;
    }
	
		#footer h3 {
			font-size: 1.4em;
		}
	
	.testimonials {
		width: 490px;
		margin: 0 auto;
	}
	
	.facilities {
		width: 490px;
		margin: 0 auto;
	}
	
	.library {
		width: 490px;
		margin: 0 auto;
	}
	
	.camera {
		width: 490px;
		margin: 0 auto;
	}
	
	.uni {
		width: 490px;
		margin: 0 auto;
	}
	
	.address {
		width: 100%;
		text-align: center;
		margin: 5px auto;
	}
		.address h3 {
		text-align: center;
		margin: 20px auto 10px auto;
	}
	
	.center-it {
		display: inline-table;
	}
		.center-it ul li {
			margin-right: 80px;
		}
			.center-it ul li a {
				text-align: center;
				width: 200px;
			}
		
	h1 {
		margin-left: 0;
		margin-bottom: 30px;
	}
	
	input {
		float: left;
	}
}